.insights-grid {
  display: grid;
  gap: 0.5rem; /* Decrease the gap between cards */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust the min-width to decrease card size */
  max-width: 600px;
  margin: 0 auto;
}

.insights-flex {
  display: flex;
  gap: 0.5rem; /* Decrease the gap between cards */
  justify-content: space-between;
  flex-wrap: wrap;
}

.insight-card {
  flex: 1;
  padding: 0.5rem; /* Decrease padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  min-width: 150px; /* Ensure minimum width for each card */
  max-width: 200px; /* Ensure maximum width for each card */
}

.insight-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.dot {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.green-dot {
  background-color: green;
}

.red-dot {
  background-color: red;
}

.blue-dot {
  background-color: blue;
}

.yellow-dot {
  background-color: yellow;
}

.insight-title {
  font-size: 0.875rem; /* Decrease font size */
  font-weight: bold;
}

.insight-description {
  font-size: 0.75rem; /* Decrease font size */
  color: #666;
}